img {
  float: right;
  margin: 0 0 1em 1em;
}

nav {
  float: left;
  width: 200px;
}
section {
  margin-left: 200px;
}

.box {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}
.after-box {
  clear: left;
}
