.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

nav {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
